In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/wdi_data.csv')
colname_dict = {
    'Country Name': 'country',
    'Country Code': 'country_code',
    'Series Name': 'series_description',
    'Series Code': 'series_code'
}
df.rename(columns=colname_dict, inplace=True)
df.dropna(subset=['country_code'], inplace=True)
df = df.melt(id_vars=df.columns[0:4], var_name='year')
df['year'] = df['year'].str[:4].astype('int')
df['value'] = df['value'].replace('..', np.nan).astype('float')

df_country = df[['country', 'country_code']].drop_duplicates().set_index('country')
df.drop(columns='country_code', inplace=True)

series_value_map = {
    'NY.GDP.PCAP.CD': 'gdp',
    'FP.CPI.TOTL.ZG': 'inflation',
    'SL.UEM.TOTL.NE.ZS': 'unemployment',
    'DT.TDS.DECT.GN.ZS': 'debt'
}
df['series'] = df['series_code'].map(series_value_map)
df_series = df[['series', 'series_code', 'series_description']].drop_duplicates().set_index('series')
df.drop(columns=['series_description', 'series_code'], inplace=True)

df = df.set_index(['country', 'year', 'series']).sort_index()
df = df.unstack()
df.columns = df.columns.droplevel()

df.head()

series            debt  gdp  inflation  unemployment
country     year
Afghanistan 1960   NaN  NaN        NaN           NaN
            1961   NaN  NaN        NaN           NaN
            1962   NaN  NaN        NaN           NaN
            1963   NaN  NaN        NaN           NaN
            1964   NaN  NaN        NaN           NaN